.massageInput{
    width: 1000px;
    height: 700px;
    border:1px solid #000000;
    border-radius: 15px;
    margin:0 auto;
}
.titleWord{
    margin-top: 37px;
    height: 21px;
    font-size: 22px;
    color: #333333;
    font-weight: bold;
    text-align:center;
}
.massageBox{
    margin-top:50px;
    padding: 15px;
    padding-left: 280px;
}
.contentWord{
    font-size: 16px;
    color: #333333;
    margin-right: 100px;
    float: left;
}
select{
    width:300px;
    border-radius: 5px;
    border: solid 1px #000;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding:5px;
    padding-left:10px;
}
.contentSpace{
    margin-top: 25px;
    padding-left: 280px;
    color: #333333;
}
.contentSelect{
    font-size: 16px;
    margin-right:70px;
    float: left;
    color: #333333;
}
.inputPos{
    margin-right:120px;
}
input{
    width:200px;
    height:300px;
    line-height: normal;
}
.inputType{
    margin-top: 40px;
    padding-left: 280px;
}
.submit{
    text-align: center;
    margin: 0 auto;
}
.submitWay{
    margin-top:40px;
    padding-left: 280px;
}
.btn{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: #006372;
    border-radius: 34px;
    height:30px;
    width: 120px;
    color:white;
}
.blockDistance1{
    margin-left: 50px;
}
.blockDistance2{
    margin-left: 10px;
}
.submit{
    width: 224px;
    height: 50px;
    background: #006372;
    border-radius: 25px;
    color:white;
    font-size: 24px;
}
.mid{
    margin-top:40px;
    text-align: center;
}
.resTable{
    margin: 0 auto;
    width:1000px;
    text-align: center;
    margin-top:87px;
}
th{
    height: 80px;
    font-size: 15px;
    color: #666666;
    background: #DCDCDC;
}
td{
    height: 60px;
    max-width:300px;
    overflow:hidden;
    text-overflow:ellipsis;
}