.SecPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Sbox{
    width: 1000px;
    padding-bottom : 50px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.09);
    opacity: 0.98;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ffffff;
}
.SwordStyle{
    font-size: 25px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-top: 47px;
}
.box-text{
    font-size: 17px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;
    margin-left: 107px;
    margin-right: 117px;
    margin-top: 41px;
}
.infor{
    margin-top: 75px;
}
.infor-box{
    width: 588px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
    opacity: 0.98;
    border-radius: 15px;
    padding: 10px;
}
.title-infor{
    display: flex;
    font-size: 20px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #333333;
    z-index: -1;
    padding-top: 30px;
    justify-content: space-between;
}
.title-text{
    margin-left: 12px;
}
.change{
    /* margin-left: 359px; */
    width: 54px;
    height: 17px;
    font-size: 18px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;
}
.inforBox-small{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
.inforBox{
    margin-top: 25px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.index1{
    width: 16px;
    height: 19px;
    background: #FF1717;
    color: #FFFFFF;
    border-radius: 2px;
    text-align: center;
}
.index2{
    width: 16px;
    height: 19px;
    color: #FFFFFF;
    background: #FF6917;
    border-radius: 2px;
    text-align: center;
}
.index3{
    width: 16px;
    height: 19px;
    color: #FFFFFF;
    background: #FFA517;
    border-radius: 2px;
    text-align: center;
}
.index4{
    width: 16px;
    height: 19px;
    background: #E5E5E5;
    border-radius: 2px;
    color: #333333;
    text-align: center;
}
.inforBoxtitle{
    font-size: 15px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #413535;
    width: 450px;
}
.inforBoxtitle:hover{
    opacity:70%;
    cursor: pointer;
}
.inforBoxdate{
    font-size: 16px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #999999;
}
.box1{
    display: flex;
    width: 1203px;
    justify-content: space-between;
    margin-top: 20px;
}
.changeButton{
    /* width: 72px; */
    height: 17px;
    border: none;
    background-color: transparent;
    outline: none; 
    font-size: 18px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;
    /* position: relative;
    left: 20px; */
}
.changeButton:hover{
    cursor: pointer;
    opacity: 90%;
}
.s1{
    display: flex;
    width: 200px;
}
.infor-image1{
    margin-right: 8px;
}